<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- این خط سورس‌های پیش‌فرض مایکروسافت را غیرفعال می‌کند تا فقط از لیارا دانلود شود -->
    <clear />
    
    <!-- اضافه کردن میرور لیارا -->
    <!-- <add key="LiaraMirror" value="https://liara.ir/mirrors/nuget/" /> -->
    
    <!-- در صورت نیاز به سورس اصلی مایکروسافت، می‌توانید خط زیر را از کامنت خارج کنید -->
    <!-- <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />-->

    <add key="RunflareMirror" value="https://mirror-nuget.runflare.com/v3/index.json" />
  </packageSources>
</configuration>
